<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="container">
      {{> header}}
      {{> nav}}
      <p class="help__text">{{helpText}}</p>
      {{> footer}}
    </div>
    <script type="" src="/js/app.js" async></script>
  </body>
</html>