<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <div class="container">
      {{> header}}
      {{> nav}}
      <p class="help__text">{{helpText}}</p>
      <form id="weather-form">
        <input type="text" placeholder="Location" id="location-field">
        <button type="submit">Search</button>
      </form>
      <div id="weather-box" class="weather-box">
        <div class="loading">Loading...</div>
        <p class="weather-location"></p>
        <p class="weather-info"></p>
        <span class="error"></span>
      </div>
      {{> footer}}
    </div>
    <script src="/js/app.js" async></script>
  </body>
</html>